<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

          <label for="username1" class="block text-900 text-xl font-medium mb-2">Username</label>
          <input
            id="username1"
            formControlName="name"
            [ngClass]="!loginForm.get('name')?.valid && loginForm.get('name')?.touched? 'ng-invalid ng-dirty': ''"
            type="text"
            placeholder="Username"
            pInputText
            class="w-full md:w-30rem mb-5"
            style="padding:1rem">

          <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
          <p-password
            id="password1"
            [ngClass]="!loginForm.get('password')?.valid && loginForm.get('password')?.touched? 'ng-invalid ng-dirty': ''"
            [feedback]="false" formControlName="password" placeholder="Password"
            [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem">
          </p-password>

          <div class="flex align-items-center justify-content-between mb-5 gap-5">
          </div>
          <button
            pButton pRipple
            [disabled]="!loginForm.valid"
            label="Sign In"
            type="submit"
            class="w-full p-3 text-xl"
          ></button>
        </form>

      </div>
    </div>
  </div>
</div>
